<div class="col-md-6 col-md-offset-3">
    <h3>Blog Post</h3>
  <div *ngFor="let post of posts">
    <section class="wrapper jumbotron">
        <h4>{{post.title}}</h4>
        <p [innerHtml]="post.content | safeHtml"></p>
        <p>
            <small>{{post.publish | date}}</small>
        </p>
    </section>
    </div>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <button [routerLink]="['/create-post']" class="btn btn-success">Create New Post</button>
  <p><a [routerLink]="['/login']">Logout</a></p>
</div>
